{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Vokabulary add</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>
                    {{ form.text.label }}<br>
                    {{ form.text(size=32) }}<br>
                    {% for error in form.text.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
                <td><h1>=</h1></td>
                <td>
                    {{ form.translation.label }}<br>
                    {{ form.translation(size=32) }}<br>
                    {% for error in form.translation.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
                <td>
                    {{ form.submit() }}
                </td>
            </tr>
        </table>
    </form>

<!--
    {% if form %}
    {{ wtf.quick_form(form, form_type="inline") }}
    <br>
    {% endif %}-->

    <table class="table table-bordered">
    {% for t in translations %}
        <tr>
            <td>{{t.text}}</td>
            <td> = </td>
            <td>{{t.translate}}</td>
            <td><a href="{{ url_for('del_word',
                                    word_id=t.id) }}"> delete </a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer words
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older words <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% if count > 1 %}
    <h3><a href="{{ url_for('voca_pract') }}">Lets practice ( {{ count }} words)</a></h3>
{% endif %}
{% endblock %}